{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block page_bottom %}
    <div class="jumbotron" style="padding-bottom:100px;background:#426579;">
        <div class="container">
            <h2 style="color:#E7DBDB">International NEWS</h2>
            <p class="lead" style="color:#E7DBDB">Some news from BBC,NewsWeek,NewsAsia,UPI... </p>
            <a href="/"><button class="btn btn-danger btn-wide the-font">HOT NEWS</button></a>
        </div>
    </div>
{% endblock %}

{% block page_content %}
    <div class="container">
        <div class="row">
            <div class="col-md-9">
            {% include '_posts.html' %}
            </div>

            {% if pagination %}
            <div  class="col-md-12">
                {{ macros.pagination_widget(pagination, '.index') }}
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}



